<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>cat_id</key>
			<integer>316</integer>
			<key>cat_name</key>
			<string>生活服务</string>
			<key>cat_image</key>
			<string>cat_shfw</string>
			<key>subcategories</key>
			<array>
				<dict>
					<key>subcat_id</key>
					<integer>319</integer>
					<key>subcat_name</key>
					<string>快照冲印</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>367</integer>
					<key>subcat_name</key>
					<string>宠物服务</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>375</integer>
					<key>subcat_name</key>
					<string>教育培训</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>428</integer>
					<key>subcat_name</key>
					<string>儿童摄影</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>459</integer>
					<key>subcat_name</key>
					<string>口腔</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>540</integer>
					<key>subcat_name</key>
					<string>其他生活服务</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>565</integer>
					<key>subcat_name</key>
					<string>婚纱摄影</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>614</integer>
					<key>subcat_name</key>
					<string>个性写真</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>616</integer>
					<key>subcat_name</key>
					<string>加油站</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>670</integer>
					<key>subcat_name</key>
					<string>体检</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>702</integer>
					<key>subcat_name</key>
					<string>亲子</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>703</integer>
					<key>subcat_name</key>
					<string>配镜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>704</integer>
					<key>subcat_name</key>
					<string>服装定制</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>705</integer>
					<key>subcat_name</key>
					<string>洗衣店</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>706</integer>
					<key>subcat_name</key>
					<string>汽车养护</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>709</integer>
					<key>subcat_name</key>
					<string>婚庆服务</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>875</integer>
					<key>subcat_name</key>
					<string>本地购物</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>923</integer>
					<key>subcat_name</key>
					<string>证件照</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>924</integer>
					<key>subcat_name</key>
					<string>照片冲印</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>927</integer>
					<key>subcat_name</key>
					<string>家政服务</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>928</integer>
					<key>subcat_name</key>
					<string>驾校/陪练</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>929</integer>
					<key>subcat_name</key>
					<string>租车</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>930</integer>
					<key>subcat_name</key>
					<string>鲜花</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>931</integer>
					<key>subcat_name</key>
					<string>充值服务</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>932</integer>
					<key>subcat_name</key>
					<string>送水/送奶</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>956</integer>
					<key>subcat_name</key>
					<string>丽人</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cat_id</key>
			<integer>320</integer>
			<key>cat_name</key>
			<string>休闲娱乐</string>
			<key>cat_image</key>
			<string>cat_fun</string>
			<key>subcategories</key>
			<array>
				<dict>
					<key>subcat_id</key>
					<integer>338</integer>
					<key>subcat_name</key>
					<string>温泉洗浴</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>341</integer>
					<key>subcat_name</key>
					<string>KTV</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>347</integer>
					<key>subcat_name</key>
					<string>足疗按摩</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>349</integer>
					<key>subcat_name</key>
					<string>文化艺术</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>528</integer>
					<key>subcat_name</key>
					<string>其他娱乐</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>688</integer>
					<key>subcat_name</key>
					<string>景点郊游</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>700</integer>
					<key>subcat_name</key>
					<string>采摘</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>891</integer>
					<key>subcat_name</key>
					<string>4D/5D电影</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>895</integer>
					<key>subcat_name</key>
					<string>桌游</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>896</integer>
					<key>subcat_name</key>
					<string>电玩/游戏币</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>897</integer>
					<key>subcat_name</key>
					<string>DIY手工</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>898</integer>
					<key>subcat_name</key>
					<string>密室逃脱</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>899</integer>
					<key>subcat_name</key>
					<string>真人CS</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>900</integer>
					<key>subcat_name</key>
					<string>卡丁车</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>901</integer>
					<key>subcat_name</key>
					<string>其他娱乐活动</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>911</integer>
					<key>subcat_name</key>
					<string>游泳</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>914</integer>
					<key>subcat_name</key>
					<string>滑雪/滑冰</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>919</integer>
					<key>subcat_name</key>
					<string>其他养生保健</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>920</integer>
					<key>subcat_name</key>
					<string>游乐园/水上乐园</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>922</integer>
					<key>subcat_name</key>
					<string>录音棚</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>952</integer>
					<key>subcat_name</key>
					<string>运动健身</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>953</integer>
					<key>subcat_name</key>
					<string>演出/展览</string>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>cat_id</key>
			<integer>326</integer>
			<key>cat_name</key>
			<string>美食</string>
			<key>cat_image</key>
			<string>cat_foods</string>
			<key>subcategories</key>
			<array>
				<dict>
					<key>subcat_id</key>
					<integer>327</integer>
					<key>subcat_name</key>
					<string>其他美食</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>364</integer>
					<key>subcat_name</key>
					<string>火锅</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>380</integer>
					<key>subcat_name</key>
					<string>小吃快餐</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>388</integer>
					<key>subcat_name</key>
					<string>粤菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>389</integer>
					<key>subcat_name</key>
					<string>日本料理</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>390</integer>
					<key>subcat_name</key>
					<string>东南亚菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>391</integer>
					<key>subcat_name</key>
					<string>西餐</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>392</integer>
					<key>subcat_name</key>
					<string>自助餐</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>393</integer>
					<key>subcat_name</key>
					<string>川菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>424</integer>
					<key>subcat_name</key>
					<string>江浙菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>439</integer>
					<key>subcat_name</key>
					<string>海鲜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>450</integer>
					<key>subcat_name</key>
					<string>北京菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>451</integer>
					<key>subcat_name</key>
					<string>新疆/清真菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>454</integer>
					<key>subcat_name</key>
					<string>湖北菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>460</integer>
					<key>subcat_name</key>
					<string>烧烤/烤肉</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>488</integer>
					<key>subcat_name</key>
					<string>湘菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>501</integer>
					<key>subcat_name</key>
					<string>韩国料理</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>504</integer>
					<key>subcat_name</key>
					<string>东北菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>509</integer>
					<key>subcat_name</key>
					<string>云南菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>652</integer>
					<key>subcat_name</key>
					<string>鲁菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>653</integer>
					<key>subcat_name</key>
					<string>西北菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>654</integer>
					<key>subcat_name</key>
					<string>贵州菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>655</integer>
					<key>subcat_name</key>
					<string>素食</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>690</integer>
					<key>subcat_name</key>
					<string>干锅/香锅</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>691</integer>
					<key>subcat_name</key>
					<string>聚会宴请</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>692</integer>
					<key>subcat_name</key>
					<string>创意菜/私房菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>693</integer>
					<key>subcat_name</key>
					<string>江西菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>694</integer>
					<key>subcat_name</key>
					<string>内蒙菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>695</integer>
					<key>subcat_name</key>
					<string>客家菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>696</integer>
					<key>subcat_name</key>
					<string>台湾菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>697</integer>
					<key>subcat_name</key>
					<string>天津菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>874</integer>
					<key>subcat_name</key>
					<string>徽菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>876</integer>
					<key>subcat_name</key>
					<string>中东菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>877</integer>
					<key>subcat_name</key>
					<string>披萨</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>878</integer>
					<key>subcat_name</key>
					<string>烤鱼</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>879</integer>
					<key>subcat_name</key>
					<string>辣味美食</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>880</integer>
					<key>subcat_name</key>
					<string>甜点饮品</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>881</integer>
					<key>subcat_name</key>
					<string>蛋糕</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>882</integer>
					<key>subcat_name</key>
					<string>其他异国餐饮</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>883</integer>
					<key>subcat_name</key>
					<string>烤鸭</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>884</integer>
					<key>subcat_name</key>
					<string>麻辣烫</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>885</integer>
					<key>subcat_name</key>
					<string>山西菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>886</integer>
					<key>subcat_name</key>
					<string>海南菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>887</integer>
					<key>subcat_name</key>
					<string>闽菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>888</integer>
					<key>subcat_name</key>
					<string>河南菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>889</integer>
					<key>subcat_name</key>
					<string>河北菜</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>890</integer>
					<key>subcat_name</key>
					<string>其他中餐</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>954</integer>
					<key>subcat_name</key>
					<string>咖啡厅/酒吧/茶室</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>962</integer>
					<key>subcat_name</key>
					<string>全部中餐</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cat_id</key>
			<integer>330</integer>
			<key>cat_name</key>
			<string>网购</string>
			<key>cat_image</key>
			<string>cat_shopping</string>
			<key>subcategories</key>
			<array>
				<dict>
					<key>subcat_id</key>
					<integer>351</integer>
					<key>subcat_name</key>
					<string>母婴玩具</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>353</integer>
					<key>subcat_name</key>
					<string>服装/内衣</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>354</integer>
					<key>subcat_name</key>
					<string>手表饰品</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>355</integer>
					<key>subcat_name</key>
					<string>运动户外</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>356</integer>
					<key>subcat_name</key>
					<string>个护化妆</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>357</integer>
					<key>subcat_name</key>
					<string>家居家纺</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>360</integer>
					<key>subcat_name</key>
					<string>图书杂志</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>397</integer>
					<key>subcat_name</key>
					<string>数码家电</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>403</integer>
					<key>subcat_name</key>
					<string>鞋/箱包</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>544</integer>
					<key>subcat_name</key>
					<string>其他</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>675</integer>
					<key>subcat_name</key>
					<string>食品保健</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cat_id</key>
			<integer>377</integer>
			<key>cat_name</key>
			<string>酒店旅游</string>
			<key>cat_image</key>
			<string>cat_hotel</string>
			<key>subcategories</key>
			<array>
				<dict>
					<key>subcat_id</key>
					<integer>642</integer>
					<key>subcat_name</key>
					<string>酒店</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>708</integer>
					<key>subcat_name</key>
					<string>旅游</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>934</integer>
					<key>subcat_name</key>
					<string>经济型酒店</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>935</integer>
					<key>subcat_name</key>
					<string>豪华酒店</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>936</integer>
					<key>subcat_name</key>
					<string>公寓式酒店</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>937</integer>
					<key>subcat_name</key>
					<string>商务酒店</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>938</integer>
					<key>subcat_name</key>
					<string>快捷酒店</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>939</integer>
					<key>subcat_name</key>
					<string>主题酒店</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>940</integer>
					<key>subcat_name</key>
					<string>青年旅舍</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>941</integer>
					<key>subcat_name</key>
					<string>度假酒店</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>942</integer>
					<key>subcat_name</key>
					<string>农家院</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>943</integer>
					<key>subcat_name</key>
					<string>钟点房</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>944</integer>
					<key>subcat_name</key>
					<string>五星</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>945</integer>
					<key>subcat_name</key>
					<string>四星</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>946</integer>
					<key>subcat_name</key>
					<string>三星</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>947</integer>
					<key>subcat_name</key>
					<string>国内游</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>948</integer>
					<key>subcat_name</key>
					<string>境外游</string>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>cat_id</key>
			<integer>963</integer>
			<key>cat_name</key>
			<string>上门服务</string>
			<key>cat_image</key>
			<string>cat_smfw</string>
			<key>subcategories</key>
			<array>
				<dict>
					<key>subcat_id</key>
					<integer>964</integer>
					<key>subcat_name</key>
					<string>美甲</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>965</integer>
					<key>subcat_name</key>
					<string>美足</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>966</integer>
					<key>subcat_name</key>
					<string>美睫</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>967</integer>
					<key>subcat_name</key>
					<string>洗衣</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>968</integer>
					<key>subcat_name</key>
					<string>洗车</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cat_id</key>
			<integer>970</integer>
			<key>cat_name</key>
			<string>演出赛事</string>
			<key>cat_image</key>
			<string>cat_ycss</string>
			<key>subcategories</key>
			<array>
				<dict>
					<key>subcat_id</key>
					<integer>971</integer>
					<key>subcat_name</key>
					<string>演唱会</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>972</integer>
					<key>subcat_name</key>
					<string>音乐会</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>973</integer>
					<key>subcat_name</key>
					<string>话剧舞台剧</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>974</integer>
					<key>subcat_name</key>
					<string>舞蹈芭蕾</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>975</integer>
					<key>subcat_name</key>
					<string>戏曲综艺</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>976</integer>
					<key>subcat_name</key>
					<string>体育赛事</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>977</integer>
					<key>subcat_name</key>
					<string>休闲娱乐</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>978</integer>
					<key>subcat_name</key>
					<string>周边商品</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>979</integer>
					<key>subcat_name</key>
					<string>儿童亲子</string>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>cat_id</key>
			<integer>323</integer>
			<key>cat_name</key>
			<string>其他</string>
			<key>cat_image</key>
			<string>cat_others</string>
			<key>subcategories</key>
			<array>
				<dict>
					<key>subcat_id</key>
					<integer>345</integer>
					<key>subcat_name</key>
					<string>电影</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>682</integer>
					<key>subcat_name</key>
					<string>0元</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>683</integer>
					<key>subcat_name</key>
					<string>抽奖</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>684</integer>
					<key>subcat_name</key>
					<string>其他</string>
				</dict>
				<dict>
					<key>subcat_id</key>
					<integer>955</integer>
					<key>subcat_name</key>
					<string>丽人</string>
				</dict>
			</array>
		</dict>
	</array>
</array>
</plist>
