<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>city_id</key>
		<integer>100010000</integer>
		<key>short_name</key>
		<string>北京</string>
	</dict>
	<dict>
		<key>city_id</key>
		<integer>500010000</integer>
		<key>short_name</key>
		<string>天津</string>
	</dict>
	<dict>
		<key>city_id</key>
		<integer>200010000</integer>
		<key>short_name</key>
		<string>上海</string>
	</dict>
	<dict>
		<key>city_id</key>
		<integer>700010000</integer>
		<key>short_name</key>
		<string>南京</string>
	</dict>
	<dict>
		<key>city_id</key>
		<integer>600010000</integer>
		<key>short_name</key>
		<string>杭州</string>
	</dict>
	<dict>
		<key>city_id</key>
		<integer>1900020000</integer>
		<key>short_name</key>
		<string>厦门</string>
	</dict>
	<dict>
		<key>city_id</key>
		<integer>400010000</integer>
		<key>short_name</key>
		<string>武汉</string>
	</dict>
	<dict>
		<key>city_id</key>
		<integer>1200010000</integer>
		<key>short_name</key>
		<string>长沙</string>
	</dict>
	<dict>
		<key>city_id</key>
		<integer>300110000</integer>
		<key>short_name</key>
		<string>广州</string>
	</dict>
	<dict>
		<key>city_id</key>
		<integer>300210000</integer>
		<key>short_name</key>
		<string>深圳</string>
	</dict>
	<dict>
		<key>city_id</key>
		<integer>900010000</integer>
		<key>short_name</key>
		<string>重庆</string>
	</dict>
	<dict>
		<key>city_id</key>
		<integer>800010000</integer>
		<key>short_name</key>
		<string>成都</string>
	</dict>
</array>
</plist>
