<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>news_sina</string>
		<key>url</key>
		<string>http://news.sina.cn</string>
		<key>name</key>
		<string>新浪新闻</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>news_baidu</string>
		<key>url</key>
		<string>http://news.baidu.com</string>
		<key>name</key>
		<string>百度新闻</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>news_tencent</string>
		<key>url</key>
		<string>http://info.3g.qq.com</string>
		<key>name</key>
		<string>腾讯新闻</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>news_wangyi</string>
		<key>url</key>
		<string>http://3g.163.com</string>
		<key>name</key>
		<string>网易新闻</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>news_ifeng</string>
		<key>url</key>
		<string>http://3g.ifeng.com</string>
		<key>name</key>
		<string>凤凰网</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>news_cctv</string>
		<key>url</key>
		<string>http://m.cctv.com</string>
		<key>name</key>
		<string>央视网</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>news_huanqiu</string>
		<key>url</key>
		<string>http://m.huanqiu.com</string>
		<key>name</key>
		<string>环球网</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>news_toutiao</string>
		<key>url</key>
		<string>http://toutiao.com</string>
		<key>name</key>
		<string>今日头条</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>news_yidian</string>
		<key>url</key>
		<string>http://www.yidianzixun.com</string>
		<key>name</key>
		<string>一点资讯</string>
	</dict>
</array>
</plist>
